/* apps/web/app/globals.css */

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;

  outline: 1px solid red !important;
}

html,
body {
  /* max-width: 100vw; */
  overflow-x: hidden;
  position: relative;
  width: 100%;
  background: transparent; 
}

a {
  color: inherit;
  text-decoration: none;
}