.bar_segment {
  flex-direction: row;
  position: relative;
  height: 100%;
  justify-content: center;

  transition: all 0.3s;

  font-family: var(--font-inter);
  color: #ffffff;
  text-align: center;

  border-left-width: 1px;
  border-left-color: white;
}

.bar_leftRound {
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;

  border-left-width: 0;
}

.bar_rightRound {
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;

  border-left-width: 1px;
  border-left-color: white;
}

.bar_bothRound {
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;

  border-left-width: 0;
}

.bar_segment:hover {
  filter: brightness(1.4);
  z-index: 10;
  /* box-shadow: 0 4px 10px rgba(0,0,0,0.2); */
}